.content {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

.main__kanji {
    display: none;
}

.main__kanji img {
    height: 160px;
}

.main__oyama {
    text-align: center;
}

.main__oyama img {
    height: 200px;
    margin: 0 1rem;
    border-radius: 10px;
}

@media (min-width: 37rem) {
    .content {
        grid-template-columns: min-content auto min-content;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0.5rem;
        align-items: center;
        grid-template-areas:
            "kanji kyokushin kyokushin"
            "origins origins oyama"
            "dojo dojo dojo"
            "video video video";
    }

    .content h1 {
        font-size: 2rem;
    }

    .main__kanji {
        display: block;
        grid-area: kanji;
    }

    .main__kyokushin {
        grid-area: kyokushin;
    }

    .main__origins {
        grid-area: origins;
    }

    .main__oyama {
        grid-area: oyama;
    }

    .main__dojo {
        grid-area: dojo;
    }
    
    .main__video {
        grid-area: video;
    }
  }